body {
    background-color: rgb(59, 47, 82);
    font: normal 15pt Arial;
    

}
header{
    color: white;
    text-align: center;
}
section{
    background-color: rgba(21, 254, 254, 0.711);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 15px black;

}
div{
    
    font: normal 13pt Arial;
}
footer{
    color: white;
    text-align: center;
    

}