* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url('pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;

}

div {
    background-image: url('pacote-d013/imagens/frame-iphone.png');
    background-repeat: no-repeat;
    width: 310px;
    height: 630px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

div>iframe {
    width: 270px;
    height: 475px;
    background-color: white;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
section img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.427);
    box-sizing: border-box;
}
section img:hover{
    border: 3px solid rgba(255, 255, 255, 0.649);
    transform: translate(-7px);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.644);
    transition: transform .3s; border: 1s;
    
}
section{
    text-align: right;
}
